<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Verificar cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-col size="6">
      
      <ion-card-content horizontal="center">
        <h2>Necesita verificar su cuenta antes de poder logearse. Revise que el correo de verificacion no este en <b>"Correo no deseado"</b> o <b>"Spam"</b></h2>
      </ion-card-content>
    </ion-col>
    </ion-card>

</ion-content>
