<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
-->
<ion-content class="ion-page" id="main-content">

  <swiper id="swiper-menu">
    <ng-template swiperSlide>
      <img height="100%" src="../../assets/oferta1.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img height="100%"  src="../../assets/oferta2.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img height="100%"  src="../../assets/oferta3.jpg">
    </ng-template>
  </swiper>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button  tab="cart">
        <ion-icon class="ion-color-dark" name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
        <ion-badge id="cartBadge">0</ion-badge> <!-- para agregar icono de notificacion -->
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon class="ion-color-dark" name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon class="ion-color-dark" name="search-circle"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-tabs>

</ion-content>
