<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-page" id="main-content">

  <swiper id="swiper-menu" class="swiper-container">
    <ng-template swiperSlide>
      <img height="100%" src="../../assets/oferta1.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img height="100%"  src="../../assets/oferta2.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img height="100%"  src="../../assets/oferta3.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img height="100%"  src="../../assets/oferta4.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img height="100%"  src="../../assets/oferta5.jpg">
    </ng-template>
    <ng-template swiperSlide>
      <img height="100%"  src="../../assets/oferta6.jpg">
    </ng-template>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </swiper>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button  tab="cart">
        <ion-icon class="ion-color-dark" name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
        <ion-badge id="cartBadge">0</ion-badge> <!-- para agregar icono de notificacion -->
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon class="ion-color-dark" name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon class="ion-color-dark" name="search-circle"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-tabs>

  <script>
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';
    var swiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          slidesPerView: 'auto',
          paginationClickable: true,
          spaceBetween: 0
      });
  </script>
</ion-content>

