<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="cart">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
       <!-- <ion-badge>6</ion-badge> para agregar icono de notificacion -->
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon name="search-circle"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-tabs>

</ion-content>
