#modal{
  border: 5px;
  border-style: solid;
}



ion-modal ion-list{
  height: 100%;  
}

ion-modal::part(backdrop) {
  background: rgb(39, 39, 39);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

#modalStripe{
  all: initial;
  all: unset;
  --min-height: 70%;
  --max-height: 80%;
}