<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Searchbar -->
  <ion-searchbar placeholder="Escribe el nombre del producto"></ion-searchbar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="leerCodigoBarra()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let product of products2" [id]="product.id" >
      <ion-avatar slot="start">
        <ion-img [src]="product.imageURL"></ion-img>
      </ion-avatar>
      <ion-label>
        {{product.title}}
      </ion-label>
      <ion-label>
        {{product.price | currency:'USD' }}
      </ion-label>
      <ion-button color="secondary" (click)="addToCart(product.id)"> 
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

