<ion-header>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="imageMapResizer.min.js"></script>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa de Sucursal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <ion-select interface="popover" placeholder="Selecciona una sucursal" (ionChange)="handleChange($event)">
      <ion-select-option value="mapa1" selected>Sucursal 1</ion-select-option>
      <ion-select-option value="mapa2">Sucursal 2</ion-select-option>
      <ion-select-option value="mapa3">Sucursal 3</ion-select-option>
    </ion-select>
  </ion-label>
  <ion-card class="mapDiv">
    <ion-card-content class=".ion-align-items-center">
      <ion-card-title id="mapa_title">No seleccionado</ion-card-title>
      <img id="img_mapa" usemap="" src="" style="display: none;">
      <map id="map" name="map1">
        
        <area title="sector 1" (click)="showProduct('1', $event)" shape="" coords="" />
        <area title="sector 2" (click)="showProduct('7', $event)" shape="" coords=""  />
        <area title="sector 3" (click)="showProduct('3', $event)" shape="" coords=""  />
        <area title="sector 4" (click)="showProduct('4', $event)" shape="" coords=""  />
        
      </map>
    </ion-card-content>
  </ion-card>
</ion-content>
