<ion-header>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="imageMapResizer.min.js"></script>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <ion-select interface="popover" placeholder="Selecciona un mapa" (ionChange)="handleChange($event)">
      <ion-select-option value="mapa1" selected>Mapa 1</ion-select-option>
      <ion-select-option value="mapa2">Mapa 2</ion-select-option>
      <ion-select-option value="mapa3">Mapa 3</ion-select-option>
    </ion-select>
  </ion-label>
  <ion-card>
    <ion-card-content class=".ion-align-items-center">
      <ion-card-title id="mapa_title">No seleccionado</ion-card-title>
      <img id="img_mapa" usemap="#map1" src="../../assets/icon/mapa1.jpg"> <!-- ../../assets/icon/mapa1.jpg -->
      <map id="map" name="map1">
        <area  alt="" title="producto 1" (click)="showProduct('1', $event)" shape="rect" coords="92,0,352,161"       />
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
          <ng-template>
            <ion-content id="popover" class="ion-padding">Producto 1</ion-content>
          </ng-template>
        </ion-popover>
        <area  alt="" title="producto 2" (click)="showProduct('2')"  shape="rect" coords="87,172,350,279"       />
        <area  alt="" title="producto 3" (click)="showProduct('3')"  shape="rect" coords="185,284,448,402"      />
        <area  alt="" title="producto 4" (click)="showProduct('4')"  shape="rect" coords="121,400,318,533"      />
      </map>
    </ion-card-content>
  </ion-card>
</ion-content>


<script type="text/javascript">

  $('map').imageMapResize();

</script>