<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card-content>
  <ion-input required type="text" placeholder="Escribe tu correo" #email></ion-input>
  <ion-button type="submit" expand="block" color="primary" (click)="onResetPassword(email)">
    Solicitar nueva contraseña
  </ion-button>
</ion-card-content>

</ion-content>

