
<ion-content id="swiper2">
  
  <swiper class="swiper-home">
    
    <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-img alt="" src="../assets/carrito.png"></ion-img>
        </ion-row>
        <ion-row>
          <h3>Controla tus gastos con el carrito</h3>
        </ion-row>
      </ion-grid>
    </ng-template>
        
      <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-img alt="" src="../assets/lector_qr.png"></ion-img>
        </ion-row>
        <ion-row>
          <h3>Agrega productos con codigo de barras o QR</h3>
        </ion-row>
      </ion-grid>
    </ng-template>

    <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-img alt="" src="../assets/mapa.png"></ion-img>
        </ion-row>
        <ion-row>
          <h3>Guíate con el mapa interactivo y mucho más con <b>EasyShop</b>!</h3>
        </ion-row>
      </ion-grid>
    </ng-template>

  </swiper>

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="auto">
        <ion-button color="primary" [routerLink]="['/menu']">
          Iniciar
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="auto">
        <ion-button color="secondary" [routerLink]="['/login']">
          Iniciar Sesion
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>
        Crea tu cuenta para tener un historial de compras y mas beneficios. Registra una nueva cuenta <ion-text [routerLink]="['../register']"><a href="">aquí</a></ion-text> 
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>