<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card>
      <div class="ion-justify-content-center">
        <img src="../assets/icon/BocetoLogo_editado.png" width="600" height="300">
      </div>
      <ion-card-content>
        <ion-card-title class="ion-text-center">EasyShop</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-card-title>Controla tus gastos con el carrito, busca productos, guíate con el mapa y mas, con <b>EasyShop</b>!</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <swiper>
      <ng-template swiperSlide>
        <ion-thumbnail>
          <img alt="" src="../assets/carrito.png">
        </ion-thumbnail>
        <ion-card-title>Controla tus gastos con el carrito</ion-card-title>
      </ng-template>
  
      <ng-template swiperSlide>
        <ion-thumbnail>
          <img alt="" src="../assets/lector_qr.png">
        </ion-thumbnail>
        <ion-card-title>Agrega productos con codigo de barras o QR</ion-card-title>
      </ng-template>
  
      <ng-template swiperSlide>
        <ion-thumbnail>
          <img alt="" src="../assets/mapa.png">
        </ion-thumbnail>
        <ion-card-title>Guíate con el mapa interactivo y mucho más con <b>EasyShop</b>!</ion-card-title>
      </ng-template>
    </swiper>
  </ion-toolbar>
</ion-header>
-->
<ion-content>
  
  <swiper>
    
    <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-img alt="" src="../assets/carrito.png"></ion-img>
        </ion-row>
        <ion-row>
          <h3>Controla tus gastos con el carrito</h3>
        </ion-row>
      </ion-grid>
    </ng-template>
        
      <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-img alt="" src="../assets/lector_qr.png"></ion-img>
        </ion-row>
        <ion-row>
          <h3>Agrega productos con codigo de barras o QR</h3>
        </ion-row>
      </ion-grid>
    </ng-template>

    <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-img alt="" src="../assets/mapa.png"></ion-img>
        </ion-row>
        <ion-row>
          <h3>Guíate con el mapa interactivo y mucho más con <b>EasyShop</b>!</h3>
        </ion-row>
      </ion-grid>
    </ng-template>

  </swiper>

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="auto">
        <ion-button color="primary" [routerLink]="['/menu']">
          Iniciar
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="auto">
        <ion-button color="secondary" [routerLink]="['/login']">
          Iniciar Sesion
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>
        Crea tu cuenta para tener un historial de compras y mas beneficios. Registra una nueva cuenta <ion-text [routerLink]="['../register']"><a href="">aquí</a></ion-text> 
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!--
  <ion-footer class="ion-align-self-end">
    <ion-card >
      <ion-card-content >
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center" size="12">
              <ion-card-subtitle >Siguenos en nuestras redes!</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center" size="4">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-icon name="logo-instagram"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-footer>
</ion-content>
-->